h2{
  margin: 0;
  padding: 20px;
}
.content{
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px;
}
